.error-page-container{
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 1.5rem;
    .error-title{
        font-weight: bold;
        font-size: 64px;
    }
    .error-explantion{
        font-weight: bold;
        font-size: 34px;
    }
    .return-back-button{
        background: #fff;
        text-decoration: none;
        color: #000;
        padding: .6rem 2rem;
        border-radius: 25px;
        font-size: 24px;
    }
}