.forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    .fw-container{
        padding: 2.5rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .forgot-password-wrapper{
            padding: 0 1rem;
            width: 35%;
            .fw-header{
                .fw-title{
                    font-weight: 600;
                }
            }
            .form-wrapper{
                padding: 2rem 0;
                .forgot-form{
                    display: flex;
                    flex-direction: column;
                    .fw-email{
                        padding: .5rem 0;
                        font-weight: 600;
                    }
                    #fw-email{
                        padding: 0.7rem 0.8rem;
                        border:1px solid rgba(229, 229, 229, 1);
                        border-radius: 5px;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            .login-link-wrapper{
                padding: 1rem 0;
                .login-text{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width:1400px){
    .forgot-password{
        .fw-container{
            max-width: 1320px;
        }
    }
}

@media(max-width:1200px){
    .forgot-password{
        .fw-container{
            .forgot-password-wrapper{
                width: 50%;
            }
        }
    }
}

@media(max-width:768px){
    .forgot-password{
        .fw-container{
            .forgot-password-wrapper{
                width: 70%;
            }
        }
    }
}

@media(max-width:576px){
    .forgot-password{
        .fw-container{
            .forgot-password-wrapper{
                width: 100%;
            }
        }
    }
}