.form-btn-wrapper{
    padding: 0;
    .form-btn{
        padding: .9rem 0;
        width: 100%;
        border:none;
        background: rgba(0,0,0,1);
        color: rgba(255,255,255,1);
        font-weight: 600;
        border-radius: 5px;
        font-size: 18px;
    }
}