.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .payment-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .payment-proccess-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 0 50%;
      .step-by-proccess {
        display: flex;
        width: 100%;
        .current-step {
          padding: 1rem;
          .step {
            padding: 0.5rem 0.9rem;
            border: 1px solid #000;
            border-radius: 25px;
            font-weight: bold;
            font-size: 18px;
            transition: all 0.1s linear;
            user-select: none;
          }
          .complete-step {
            background: #000;
            color: #fff;
          }
          .not-complete-step {
            background: #fff;
            color: #000;
          }
        }
        .step-content {
          padding: 1rem 1rem 1rem 0;
          width: 100%;
          .step-title-wrapper {
            cursor: pointer;
            .step-title {
              font-size: 22px;
              font-weight: bold;
            }
          }
          .current-step-content {
            transition: all 0.1s linear;
            .second-title-wrapper {
              .second-title {
                font-size: 18px;
                color: rgb(112, 112, 112);
              }
            }
            .optional-select-wrapper {
              padding: 1rem 0;
              .payment-choise-wrapper {
                padding: 1rem 0;
                width: 100%;
                .payment-choise-input {
                  width: 100%;
                  padding: 0.3rem 0.8rem;
                  border: 1px solid rgba(229, 229, 229, 1);
                  background: transparent;
                  border-radius: 5px;
                  transition: all 0.1s linear;
                  &:focus {
                    border: 1px solid #333;
                  }
                }
              }
              .optional-select-form {
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input {
                  border: 1px solid rgba(229, 229, 229, 1);
                  padding: 0.3rem 0.8rem;
                  border-radius: 5px;
                  transition: all 0.1s linear;
                  &:focus {
                    outline: none;
                    border: 1px solid #333;
                  }
                }
                .optional-label {
                  display: flex;
                  padding: 2rem 1rem;
                  border: 1px solid rgba(229, 228, 233, 1);
                  border-radius: 5px;
                  cursor: pointer;
                  transition: all 0.1s linear;
                  .optional-input-wrapper {
                    padding: 0 1rem;
                    .optional-checkbox {
                      display: none;
                    }
                    .custom-checkbox {
                      width: 26px;
                      height: 26px;
                      border: 2px solid #ccc;
                      border-radius: 50%;
                      cursor: pointer;
                      display: flex;
                      transition: all 0.1s linear;

                      .check-icon {
                        border-radius: 50%;
                        display: flex;
                        opacity: 0;
                        color: #fff !important;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        font-weight: bold;
                        transition: all 0.1s linear;
                      }
                    }
                    .optional-checkbox:checked + .custom-checkbox {
                      background: #000;
                      border-color: #000;

                      .check-icon {
                        opacity: 1;
                      }
                    }
                  }
                  .optional-title-full {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .optional-title-wrapper {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      .optional-title {
                        font-size: 18px;
                        text-transform: capitalize;
                      }
                      .edit-address-button {
                        border: none;
                        background: none;
                        transition: color 0.1s linear;
                        &:hover {
                          color: rgba(0, 0, 0, 0.5);
                        }
                      }
                    }
                    .optional-full {
                      text-transform: capitalize;
                      color: rgb(112, 112, 112);
                    }
                  }
                }

                .expired-cvv-wrapper {
                  display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  .expired-date-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                    .expired-date-inputs {
                      display: flex;
                      gap: 1rem;
                      select {
                        padding: 0.3rem 0.8rem;
                        border: 1px solid rgba(229, 229, 229, 1);
                        background: transparent;
                        border-radius: 5px;
                        transition: all 0.1s linear;
                        &:focus {
                          border: 1px solid #333;
                        }
                      }
                    }
                  }
                  .cvv-code-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 0.7rem;
                    input {
                      border: 1px solid rgba(229, 229, 229, 1);
                      padding: 0.3rem 0.8rem;
                      border-radius: 5px;
                      transition: all 0.1s linear;
                      width: 50%;
                      &:focus {
                        outline: none;
                        border: 1px solid #333;
                      }
                    }
                  }
                }

                .selected-option {
                  border: 1px solid rgba(33, 38, 171, 1);
                }
                .next-step-button {
                  padding: 0.7rem 1rem;
                  border: none;
                  background: #000;
                  color: #fff;
                  border-radius: 5px;
                }
              }
              .payment-address-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 1rem 0;
                gap: 1rem;
                .payment-address-content {
                  display: flex;
                  flex-direction: column;
                  gap: 0.6rem;
                  padding: 1rem 1rem;
                  border: 2px solid rgba(33, 38, 171, 1);
                  border-radius: 5px;
                  .payment-full-name {
                    font-weight: 600;
                    font-size: 24px;
                    text-transform: capitalize;
                  }
                  .payment-address-title {
                    font-weight: 600;
                    font-size: 22px;
                    text-transform: capitalize;
                  }
                  .payment-full-address {
                    font-weight: 600;
                  }
                }
              }
              .modal-container {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 99999;
                .modal-wrapper {
                  border-radius: 10px;
                  background: #fff;
                  width: 50%;
                  height: 70%;
                  display: flex;
                  flex-direction: column;
                  padding: 1.5rem;
                  .modal-title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    .modal-title {
                      font-weight: bold;
                    }
                    .modal-close-button {
                      padding: 0.3rem 0.6rem;
                      border: none;
                    }
                  }
                  .modal-form-wrapper {
                    padding: 0.5rem;
                    .modal-form {
                      display: flex;
                      flex-wrap: wrap;
                      gap: 0.5rem;

                      .address-title-label,
                      #address-title-input,
                      .address-label,
                      #address-input,
                      .address-phone-label,
                      .address-phone-input,
                      .address-phone-container,
                      .address-subregion-label,
                      #address-subregion-input {
                        flex: 100%;
                        width: 100%;
                      }
                      .address-firstName-label,
                      #address-firstName-input,
                      .address-lastName-label,
                      #address-lastName-input,
                      .address-city-label,
                      #address-city-input,
                      .address-state-label,
                      #address-state-input {
                        flex: 49%;
                      }
                      .address-title-label {
                        order: 1;
                      }
                      #address-title-input {
                        order: 2;
                      }
                      .address-firstName-label {
                        order: 3;
                      }
                      .address-lastName-label {
                        order: 4;
                      }
                      #address-firstName-input {
                        order: 5;
                      }
                      #address-lastName-input {
                        order: 6;
                      }
                      .address-label {
                        order: 7;
                      }
                      #address-input {
                        order: 8;
                      }
                      .address-city-label {
                        order: 9;
                      }
                      .address-state-label {
                        order: 10;
                      }
                      #address-city-input {
                        order: 11;
                      }
                      #address-state-input {
                        order: 12;
                      }
                      .address-subregion-label {
                        order: 13;
                      }
                      #address-subregion-input {
                        order: 14;
                      }
                      .address-phone-label {
                        order: 15;
                      }
                      .address-phone-container {
                        order: 16;
                        .address-phone-input {
                          padding-left: 3rem;
                          &:focus {
                            box-shadow: none !important;
                          }
                        }
                      }

                      #address-title-input,
                      #address-firstName-input,
                      #address-lastName-input,
                      #address-input,
                      #address-city-input,
                      #address-state-input,
                      #address-subregion-input,
                      .address-phone-input {
                        background: rgba(247, 247, 247, 1);
                        border: 1px solid rgba(229, 229, 229, 1);
                        border-radius: 4px;
                        padding: 0.5rem;
                        &:focus {
                          outline: none;
                        }
                      }
                      .address-button-wrapper {
                        order: 17;
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        gap: 1rem;
                        .address-submit-button {
                          margin: 1rem 0 0 0;
                          padding: 0.7rem 1rem;
                          font-size: 24px;
                          background: #000;
                          color: #fff;
                          border-radius: 5px;
                          border: none;
                        }
                        .address-cancel-button {
                          margin: 1rem 0 0 0;
                          padding: 0.7rem 1rem;
                          font-size: 24px;
                          background: #ed5e68;
                          color: #dddddd;
                          border-radius: 5px;
                          border: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .close-tab {
            height: 0;
            display: none;
          }
          .active-tab {
            height: auto;
            display: block;
          }
          .havent-address-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            padding: 4rem 1rem;
            .havent-address-text {
              text-align: center;
            }
            .create-address-link {
              padding: 0.7rem 2rem;
              background: #000;
              color: #fff;
              text-decoration: none;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .basket-products-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1 0 50%;
      padding: 1rem;
      .basket-product-content {
        max-height: 400px;
        overflow-y: scroll;
        .product-card {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 1rem 1rem;
          // border-bottom: 1px solid rgba(229, 228, 233, 1);
          .product-first-content {
            display: flex;
            gap: 1rem;
            .product-img-wrapper {
              width: 100px;
              height: 100px;
              position: relative;
              .product-count {
                position: absolute;
                padding: 0.1rem 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(33, 38, 171, 1);
                color: #fff;
                border-radius: 50%;
                top: -10%;
                right: -10%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .product-detail-wrapper {
              display: flex;
              flex-direction: column;
              .product-name {
                font-weight: bold;
              }
              .product-gram-flavor {
                font-size: 14px;
                color: rgba(138, 139, 148, 1);
                font-weight: 600;
              }
            }
          }
          .product-second-content {
            display: flex;
            justify-content: end;
            padding: 0 1rem;
            .product-price {
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }
      .total-price-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        .undiscounted-price-wrapper {
          display: flex;
          justify-content: space-between;
          padding: 2rem 1rem;
          border-bottom: 1px solid rgba(229, 228, 233, 1);
          p {
            &:nth-child(1) {
              font-weight: 600;
              font-size: 16px;
              color: rgba(138, 139, 148, 1);
            }
            &:nth-child(2) {
              font-weight: 600;
              font-size: 16px;
            }
          }
        }
        .product-total-price {
          display: flex;
          justify-content: space-between;
          padding: 2rem 1rem;

          p {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .complete-delivery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    gap: 1.6rem;
    text-align: center;
    .my-account-link {
      background: #000;
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 24px;
      border-radius: 5px;
    }
    .complete-title {
      font-weight: bold;
      font-size: 32px;
    }
    .delivery-number {
      font-weight: bold;
    }
  }
}

@media (min-width: 1400px) {
  .payment-container {
    .payment-wrapper {
      max-width: 1320px;
    }
  }
}

@media (max-width: 992px) {
  .payment-container {
    .payment-wrapper {
      .payment-proccess-wrapper {
        flex: 1 0 100%;
      }
      .basket-products-wrapper {
        flex: 1 0 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .payment-container {
    padding: 4rem 0;
  }
}
